@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face{
  font-family: naomi;
  src: url(fonts/NaomisHand-Regular.ttf);
}


body{
  color:  #686868;
}

a{
  color:  #686868;
}

a:hover {
    color: hotpink;
}

.catimg{
  width: 350px;
  margin-top: 200px;
  margin-bottom: 5px;
}

.atsymbol{
  font-size: 20px;
}

h1{
  font-size: 65px;
}

h2{
  margin-top: 350px;
  margin-bottom: 80px;
}

.intro{
  font-family: naomi;
  text-align: center;
}

.siteimg{
  width: 544px;
}

h2{
  font-family: naomi;
  font-size: 55px;
  text-align: center;
}

.row{
  margin-top: 80px;
}

h3{
  font-size: 16px;
  padding-top: 14px;
}

#email{
  padding-top: 0px;
  margin-top: -37px;
  font-size: 37px;
}

#me{
  float: left;
  padding-top: 14px;
  padding-right: 14px;
  width:156px;
}

ul {
    padding-left: 16px;

}

.row:last-of-type{
  margin-bottom: 120px;
}
