/* font-face command is for adding a custom font */

@font-face{
  font-family: naomi;
  src: url(fonts/NaomisHand-Regular.ttf);
}

a, body{
  color:  #686868;
}

a:hover {
    color: #FFCCB4;
}

.catimg{
  width: 350px;
  display: block;
  margin-top: 200px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* at symbol resized using a span tag because this font has it at an awkward size */
.atsymbol{
  font-size: 19px;
}

h1{
  font-family: naomi;
  font-size: 65px;
  text-align: center;
}

h2{
  margin-top: 350px;
  margin-bottom: 80px;
}

h2{
  font-family: naomi;
  font-size: 55px;
  text-align: center;
}

h3{
  font-size: 16px;
  padding-top: 14px;
}

/* email id must follow h3 tag for cascading effects */
#email{
  padding-top: 0px;
  margin-top: -37px;
  font-size: 37px;
  text-align: center;
  font-family: naomi;
}

.row{
  margin-top: 80px;
}

.siteimg{
  width: 544px;
}

#me{
  float: left;
  padding-top: 14px;
  padding-right: 14px;
  width:156px;
}

#momo{
  color: #FFCCB4;
}

/* sets bullet indentation to a smaller amount */
ul {
  padding-left: 16px;
}

.row:last-of-type{
  margin-bottom: 120px;
}
